<html>
    <head>
        <meta charset="UTF-8">
        <title>Vacancies</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>        
        <div id="app">
            <div>
                Всего найдено: {{ countVacancies }} |
                Отображено: {{ countFilteredVacancies }} |
                Выбрано: {{ countSelectedVacancies }}
                <button @click="onReset">Сбросить</button>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th style="width:500px">Name</th>
                    <th style="word-wrap: break-word; max-width: 100px;">Employer</th>
                    <th>Format</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Created at</th>
                    <th>Ответили</th>
                    <th>Откликнулось</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>исключить если содержится что либо из</p>
                        <input v-model="filterVacancies">

                        <p>выбрать только</p>
                        <input v-model="filterVacanciesOnly">
                    </td>
                    <td>
                        <p>содержит</p>
                        <input v-model="filterCompany">
                    </td>
                    <td>
                        <select v-model="selectedWorkFormat" multiple>
                            <option v-for="item in workFormatList" v-bind:value="item">{{item.name}}</option>
                       </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <p>содержит</p>
                        <input v-model="filterDate">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr
                  style="height:30px"
                  v-for="vacancy in filteredVacancies"
                >
                    <td>
                        <input type="checkbox" v-bind:value="vacancy.id" v-model="selectedPositions">
                    </td>
                    <td @click="onSelectPosition(vacancy)">
                        {{ vacancy.name }}
                    </td>
                    <td>{{ vacancy.employer.name }}</td>
                    <td>
                        <span v-for="vformat in vacancy.work_format">{{ vformat.name }} </span>
                    </td>
                    <td>{{ vacancy.salary.from }}</td>
                    <td>{{ vacancy.salary.to }}</td>
                    <td>{{ vacancy.created_at }}</td>
                    <td>{{ vacancy.counters.responses }}</td>
                    <td>{{ vacancy.counters.total_responses }}</td>
                    <td><a :href="vacancy.alternate_url" target="_blank">{{ vacancy.id }}</a></td>
                </tr>
            </table>
        </div>
<script>
  const { createApp, ref } = Vue

  createApp({
    data() {
    return {
      filterVacancies: 'bitrix, битрикс, 1с, 1c, devops, авитолог, истемный администратор',
      filterVacanciesOnly: '',
      vacancies: [[ .Vacancies ]],
      countVacancies: [[ .Count ]],
      workFormatList: [[ .WorkFormatList ]],
      selectedWorkFormat: '',
      filterDate: '',
      filterCompany: '',
      selectedPositions: [],
    }
  },
  computed: {
    filteredVacancies: function() {
        let preparedList = this.vacancies

        if (
            this.filterVacancies.length !=0 &&
            this.filterVacancies.length > 2
        ) {
            listFilters = this.filterVacancies.toLowerCase().split(',').map(item => item.trim())
            let regexp = new RegExp(listFilters.join('|'), "i")

            preparedList = this.vacancies.filter(function(vac) {
                if (! regexp.test(vac.name.toLowerCase())) {
                    return true
                }
                return false
            }, this)
        }

        if (
            this.filterVacanciesOnly.length !=0 &&
            this.filterVacanciesOnly.length > 2
        ) {
            preparedList = preparedList.filter(function(vac) {
                if (vac.name.toLowerCase().includes(this.filterVacanciesOnly.toLowerCase())) {
                    return true
                }
                return false
            }, this);
        }

        if (this.selectedWorkFormat.length != 0) {
            preparedList = preparedList.filter(function(vac) {
                for (i=0; i < vac.work_format.length; i++) {
                    for (j=0; j < this.selectedWorkFormat.length; j++) {
                        if (vac.work_format[i].id == this.selectedWorkFormat[j].id) {
                            return true
                        }
                    }
                }
                return false
            }, this);
            
        }

        if (this.filterDate.length != 0) {
            preparedList = preparedList.filter(function(vac) {
                if (vac.created_at.toLowerCase().includes(this.filterDate)) {
                    return true
                }
                return false
            }, this);
        }

        if (this.filterCompany.length != 0) {
            preparedList = preparedList.filter(function(vac) {
                if (vac.employer.name.toLowerCase().includes(this.filterCompany.toLowerCase())) {
                    return true
                }
                return false
            }, this);
        }

        return preparedList
    },
    countFilteredVacancies: function() {
        return this.filteredVacancies.length
    },
    countSelectedVacancies: function() {
        return this.selectedPositions.length
    },
  },
  methods: {
    onSelectPosition(vacancy) {
        index = this.selectedPositions.findIndex(id => id === vacancy.id)
        if (index == -1) {
            this.selectedPositions.push(vacancy.id)

            return
        }

        this.selectedPositions = this.selectedPositions.filter(id => id !== vacancy.id)
    },
    onReset() {
        this.selectedPositions = []
    },
  },
  }).mount('#app')
</script>
    </body>
</html>